# First Project - Cleaning up data

**Cleaning up the Data**

In [17]:
import csv

with open('kaggle2021-short.csv') as f:
    reader = csv.reader(f, delimiter=",")
    kaggle_data = list(reader)

column_names = kaggle_data[0]
survey_responses = kaggle_data[1:]

for row in survey_responses:
    row[0] = float(row[0])
    row[5] = int(row[5])
    
    if row[1] == 'TRUE':
        row[1] = True
    elif row[1] == 'FALSE':
        row[1] = False
    if row[2] == 'TRUE':
        row[2] = True
    elif row[2] == 'FALSE':
        row[2] = False
    if row[3] == 'TRUE':
        row[3] = True
    elif row[3] == 'FALSE':
        row[3] = False
    if row[4] == 'None':
        row[4] = None
        
first_rows_sr = survey_responses[:1]
print(first_rows_sr)

#Creating a proportion of Python, R, and SQL users

python_count = 0 
r_count = 0 
sql_count = 0 

for row in survey_responses: 
    if row[1] == True: 
        python_count += 1
    if row[2] == True: 
        r_count += 1 
    if row[3] == True: 
        sql_count += 1

print(python_count, r_count, sql_count)

prop_python = python_count / len(survey_responses) 
prop_r = r_count / len(survey_responses)
prop_sql = sql_count / len(survey_responses) 

print(f'''
The amount of Python users are: {python_count}
The amount of R users are: {r_count}
The amount of SQL users are: {sql_count}. 
The respective proportions are {round(prop_python,2)}, {round(prop_r,2)}, and {round(prop_sql,2)}.
''')

[[6.1, True, False, True, 'Scikit-learn', 124267]]
21860 5335 10757

The amount of Python users are: 21860
The amount of R users are: 5335
The amount of SQL users are: 10757.
The respective proportions are 0.84, 0.21, and 0.41.

**Average experience and Compensation**

In [30]:
experience_coding = [] 
compensation = [] 

for row in survey_responses: 
    experience_coding.append(row[0])
    compensation.append(row[-1])

for i in range(len(survey_responses)):
    experience_coding[i] = float(experience_coding[i])
    compensation[i] = int(compensation[i])

min_exp = min(experience_coding) 
max_exp = max(experience_coding) 
avg_exp = sum(experience_coding) / len(experience_coding) 

min_comp = min(compensation) 
max_comp = max(compensation) 
avg_comp = sum(compensation) / len(compensation)


print(f'''
The minimum experience is: {min_exp} years
The maximum experience is: {max_exp} years
The average experience is: {round(avg_exp,2)} years.

The minimum compensation is: {min_comp} dollars
The maximum compensation is: {max_comp} dollars
The average compensation is: {round(avg_comp)} dollars.
''')

The minimum experience is: 0.0 years
The maximum experience is: 30.0 years
The average experience is: 5.3 years.

The minimum compensation is: 0 dollars
The maximum compensation is: 1492951 dollars
The average compensation is: 53253 dollars.

**Adding Experience Categories to the Kaggle Data**

In [35]:
categories = ['< 5 years', '5 - 10 years', '10 - 15 years', '15 - 20 years', '20 - 25 years', '+25 years']

for row in survey_responses: 
    row[0] = float(row[0])
    if row[0] < 5: 
        row.append(categories[0])
    elif row[0] < 10:
        row.append(categories[1])
    elif row[0] < 15:
        row.append(categories[2])
    elif row[0] < 20:
        row.append(categories[3])
    elif row[0] < 25:
        row.append(categories[4])
    else: 
        row.append(categories[5])

print(survey_responses[:5])

[[6.1, 'TRUE', 'FALSE', 'TRUE', 'Scikit-learn', '124267', '5 - 10 years'], [12.3, 'TRUE', 'TRUE', 'TRUE', 'Scikit-learn', '236889', '10 - 15 years'], [2.2, 'TRUE', 'FALSE', 'FALSE', 'None', '74321', '< 5 years'], [2.7, 'FALSE', 'FALSE', 'TRUE', 'None', '62593', '< 5 years'], [1.2, 'TRUE', 'FALSE', 'FALSE', 'Scikit-learn', '36288', '< 5 years']]

**Calculating the Average Compensation per Experience Category**

In [41]:
less_than_5 = []
five_ten = [] 
ten_fifteen = []
fifteen_twenty = [] 
twenty_25 = [] 
more_than_25 = [] 


for row in survey_responses:
    row[-2] = int(row[-2])
    if row[-1] == '< 5 years':
        less_than_5.append(row[-2]) 
    elif row[-1] == '5 - 10 years':
        five_ten.append(row[-2])
    elif row[-1] == '10 - 15 years':
        ten_fifteen.append(row[-2])
    elif row[-1] == '15 - 20 years':
        fifteen_twenty.append(row[-2])
    elif row[-1] == '20 - 25 years': 
        twenty_25.append(row[-2])
    elif row[-1] == '+25 years': 
        more_than_25.append(row[-2])

total_less_than_5 = len(less_than_5)      
total_five_ten = len(five_ten) 
total_ten_fifteen = len(ten_fifteen)
total_fifteen_twenty = len(fifteen_twenty)
total_twenty_25 = len(twenty_25)
total_more_than_25 = len(more_than_25)

avg_less_than_5 = sum(less_than_5) / total_less_than_5
avg_five_ten = sum(five_ten) / total_five_ten
avg_ten_fifteen = sum(ten_fifteen) / total_ten_fifteen
avg_fifteen_twenty = sum(fifteen_twenty) / total_fifteen_twenty
avg_twenty_25 = sum(twenty_25) / total_twenty_25
avg_more_than_25 = sum(more_than_25) / total_more_than_25

print(f'''
The average salary for 0 - 5 years of experience is: {round(avg_less_than_5)} dollars
The average salary for 5 - 10 years of experience is: {round(avg_five_ten)} dollars
The average salary for 10 - 15 years of experience is: {round(avg_ten_fifteen)} dollars
The average salary for 15 - 20 years of experience is: {round(avg_fifteen_twenty)} dollars
The average salary for 20 - 25 years of experience is: {round(avg_twenty_25)} dollars
The average salary for more than 25 years of experience is: {round(avg_more_than_25)} dollars
''')

The average salary for 0 - 5 years of experience is: 45048 dollars
The average salary for 5 - 10 years of experience is: 59313 dollars
The average salary for 10 - 15 years of experience is: 80227 dollars
The average salary for 15 - 20 years of experience is: 75102 dollars
The average salary for 20 - 25 years of experience is: 103160 dollars
The average salary for more than 25 years of experience is: 90445 dollars